 
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin: 10px;
}
.card{
    background-color: rgb(211, 194, 229);
    border: 1px solid rgb(45, 40, 33);
    text-align: center;
    flex-basis:  calc(100%/3 - 4px);
    flex-grow: 0;
    flex-shrink: 0;

}
button{
    background-color: rgb(72, 72, 206);
    color: wheat;
    font-size: 2rem;
    
}