 
body{
    display: grid;
    grid-template-columns: 20% 1fr;

}
.aside{
    background-color: rgb(245, 245, 222);
}
.main{
    background-color: rgb(214, 214, 209);
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin: 10px;
    
}
.card{
    background-color: rgb(211, 194, 229);
    border: 1px solid rgb(45, 40, 33);
    text-align: center;
    flex-basis:  calc(100%/3 - 4px);
    flex-grow: 0;
    flex-shrink: 0;

}
.btn{
    background-color: rgb(231, 231, 231);
    color: rgb(137, 22, 166);
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.4rem;
    margin: 10px;
}
.invisible{
    display: none;
}